project: __PROJECT_NAME__

default_backend: __DEFAULT_BACKEND__

cuda_minor_version: __CUDA_MINOR_VERSION__

default_partition: __DEFAULT_PARTITION__

env_watch:
__ENV_WATCH__

# Add snapshot_excludes if you want to skip directories during submissions
# snapshot_excludes:
#   - data/raw
