project: __PROJECT_NAME__

default_backend: __DEFAULT_BACKEND__

default_partition: __DEFAULT_PARTITION__

__MODULE_SECTION__env_watch:
__ENV_WATCH__

# Add snapshot_excludes if you want to skip directories during submissions
# snapshot_excludes:
#   - data/raw
